{% extends 'app_users/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Account recovery" %}
{% endblock %}

{% block content %}
    <main class="px-3">
        <h1>{% trans "Account recovery" %}</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <p>{% trans "Enter your email, you will receive an email with instructions to restore your account" %}</p>
            <button class="btn btn-outline-info m-2" type="submit">{% trans "Restore password" %}</button>
        </form>
      </main>
{% endblock %}
