<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания</h1>

    <p>Список курсов: </p>
    <ol>
        <li><a href="course1">Профессия Веб-разработчик</a></li>
        <li><a href="course2">Python-фреймворк Django</a></li>
        <li><a href="course3">Профессия Data Scientist PRO</a></li>
        <li><a href="course4">Профессия Java-разработчик</a></li>
        <li><a href="course5">Профессия Android-разработчик</a></li>
    </ol>
</body>
</html>