{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python-фреймворк Django</title>
</head>
<body>
    <h1>Python-фреймворк Django</h1>
    <img src="{% static 'images/course2.png' %}" alt="Python-фреймворк Django"><br>
    <br>
    <p>Вы научитесь верстать веб-страницы, писать и оптимизировать веб-приложения на Django,</p>
    <p>продолжите развиваться в IT-индустрии и станете более востребованным разработчиком.</p>
    <a href="https://skillbox.ru/course/django-framework/">Ссылка на курс Skillbox "Python-фреймворк Django"</a>
    <h2>Цена рещения: 100 р</h2>
    <h3><a href="/">Назад</a></h3>
</body>
</html>