{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профессия Data Scientist PRO</title>
</head>
<body>
    <h1>Профессия Data Scientist PRO</h1>
    <img src="{% static 'images/course3.png' %}" alt="Профессия Data Scientist PRO"><br>
    <br>
    <p>Освойте Data Science с нуля. Попробуйте силы в аналитике данных, машинном обучении, дата-инженерии и решите, какое направление вам нравится больше. </p>
    <p>Через год сможете устроиться Junior-специалистом, а через два — станете профессионалом уровня Middle.</p>
    <a href="https://skillbox.ru/course/profession-data-scientist/">Ссылка на курс Skillbox "Профессия Data Scientist PRO"</a>
    <h2>Цена рещения: 100 р</h2>
    <h3><a href="/">Назад</a></h3>
</body>
</html>