{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профессия Java-разработчик</title>
</head>
<body>
    <h1>Профессия Java-разработчик</h1>
    <img src="{% static 'images/course4.png' %}" alt="Профессия Java-разработчик"><br>
    <br>
    <p>Освойте популярный язык программирования Java с нуля.</p>
    <p>Станьте востребованным специалистом за 9 месяцев, даже если вы раньше никогда не программировали.</p>
    <a href="https://skillbox.ru/course/profession-java/">Ссылка на курс Skillbox "Профессия Java-разработчик"</a>
    <h2>Цена рещения: 100 р</h2>
    <h3><a href="/">Назад</a></h3>
</body>
</html>