{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профессия Веб-разработчик</title>
</head>
<body>
    <h1>Профессия Веб-разработчик</h1>
    <img src="{% static 'images/course1.png' %}" alt="Профессия Веб-разработчик"><br>
    <br>
    <p>Вы с нуля научитесь создавать полноценные сайты и веб-приложения.</p>
    <p>Освоите HTML, CSS, JavaScript и PHP, познакомитесь с фреймворками и станете востребованным веб-разработчиком. Даже если до этого не программировали.</p>
    <a href="https://skillbox.ru/course/profession-webdev/">Ссылка на курс Skillbox "Профессия Веб-разработчик"</a>
    <h2>Цена рещения: 100 р</h2>
    <h3><a href="/">Назад</a></h3>
</body>
</html>