{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профессия Android-разработчик</title>
</head>
<body>
    <h1>Профессия Android-разработчик</h1>
    <img src="{% static 'images/course5.png' %}" alt="Профессия Android-разработчик"><br>
    <br>
    <p>По данным Google, 3 млрд устройств работает на Android.</p>
    <p>Телевизоры, смартфоны и умные часы напичканы полезными приложениями, с помощью которых мы смотрим сериалы, платим за покупки, общаемся и заказываем еду. </p>
    <p>Теперь и вы сможете создавать такие сервисы.</p>
    <p>Вы добавите до пяти приложений в портфолио, получите опыт работы в команде и станете Android-разработчиком. А Центр карьеры поможет найти работу уже во время прохождения курса.</p>
    <a href="https://skillbox.ru/course/profession-android-developer-2021/">Ссылка на курс Skillbox "Профессия Android-разработчик"</a>
    <h2>Цена рещения: 100 р</h2>
    <h3><a href="/">Назад</a></h3>
</body>
</html>