{% extends 'djcaching/base.html' %}
{% load i18n %}
{% load cache %} #Кэширование фрагмента шаблона

{% block title %}
{% trans "Shops" %}
{% endblock %}

{% block content %}

<style>
    input {
        width: 80%;
    }
    label {
        text-align: left;
    }
    TABLE {
        width: 600px; /* Ширина таблицы */
        border-collapse: collapse;  Убираем двойные линии между ячейками */
    }
    TD, TH {
        padding: 3px; /* Поля вокруг содержимого таблицы */
        border: 1px solid black; /* Параметры рамки */
    }
    TH {
        background: #b0e0e6; /* Цвет фона */
    }
</style>



    <main class="px-3 mt-5">
        <h1>{% trans "Shops" %}</h1>
            {% if request.user.is_authenticated %}
            <div class="alert alert-secondary">
                <h3>{% trans "Username" %}: {{ request.user.username }}</h3>
                {% cache 500 table %} #Кэширование фрагмента шаблона
                    <table class="px-2 text-dark" border="2" align="center" >
                        <tbody>
                            <tr>
                                <td>{% trans "id" %}</td>
                                <td>{% trans "shop" %}</td>
                            </tr>
                        {% if shops %}
                            {% for s in shops %}
                            <tr>
                                <td>{{ s.id }}</td>
                                <td>{{ s.name }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>{% trans "no shop" %}</td>
                                <td>{% trans "no shop" %}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                {% endcache %}
            </div>
            {% else %}
            <div class="alert alert-secondary" style="cursor:pointer;" onclick="followLink('../../{{ el.id }}/infonews/')">
                <h3>{% trans "You are not authorized on our site!" %}</h3>
                <p>{% trans "User is not found :(" %}</p>
            </div>
            {% endif %}
      </main>
{% endblock %}
